body{
    background: #1C1A58;
    font-family: tahoma;
    color: #1C1A58;
}

#todo-table{
    position: relative;
    width: 95%;
    background: #1C1A58;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    width: 70%;
    padding: 20px;
    background:#7F42A4;
    border: 0;
    border-radius: 10px;
    float: left;
    font-size: 20px;
    color: white;
}

button{
    margin-top: 20px;
    padding: 20px;
    width: 30%;
    float: left;
    border-radius: 10px;
    background: #6AD2DC;
    border: 0;
    box-sizing: border-box;
    color: #481365;
    cursor: pointer;
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: line-through;
    color: #7F42A4;
    background: rgba(0,0,0,0.1);
}

h1{
  color: white;
  text-align: center;
}
